[user]
	name = Jack Italiano
	email = jitaliano.dev@gmail.com
[init]
	defaultBranch = main
[core]
	editor = nvim
	pager = delta
[color]
	ui = auto
[web]
	browser = 'Microsoft Edge'
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	syntax-theme = OneHalfDark
[merg]
	conflictstyle = zdiff3
